

/* Start:/local/components/gk/feedback.send/templates/.default/style.css?1716207147689*/
	 .feedback_form{
	                 display:block;
	                 width:400px;
	                 border:solid 1px #ccc;
	                 border-radius:5px;
	                 padding:10px;
	 }

	 .feedback_form .item{
	                 margin-bottom:10px;
	                 width:100%;
	                 float:left;
	 }

	 .feedback_form .item label{
	                 display:block;
	                 width:150px;
	                 float:left;
	 }

	 .feedback_form .item input[type='text'], .feedback_form .item textarea{
	                 width:200px;
	                 float:right;
	 }

	 .feedback_form .item textarea{
	                 height:200px;
	 }
/* End */
/* /local/components/gk/feedback.send/templates/.default/style.css?1716207147689 */
